.list-overflow-container {
  max-height: 545px;
  border-radius: 2px;
  overflow-x: hidden;
}

.list-overflow-container ul {
  margin: 0; 
}

.list-overflow-container li {
  border-radius: 0px;
  border-left: none;
  border-right: none;
  background-color: #f4d03f;
  color: #2A878C; 
}

.list-overflow-container li * {
  cursor: pointer;
  font-size:20px;
}

.list-overflow-container li a {
  color: #2A878C;
}

.list-overflow-container li:first-child {
  border-top: none;
}

.list-overflow-container li:last-child {
  border-bottom: none;
}

.list-group {
  font-size:20px;
}